* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background: #000;
}

html {
    scroll-behavior: smooth;
}