#favorite-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-top: 3rem;

    .event-favorite-card {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 9px;
        margin-bottom: 3rem;
        width: 100%;

        .favorites-img {
            width: 100%;
            height: 380px;

            .event-img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .event-favorite-content {
            display: flex;
            flex-direction: column;
            gap: 1.3rem;
            padding: 1rem;

            .event-favorite-title {
                color: #7a7a7a;
                font-weight: 500;
                font-size: 1.1rem;
            }

            .event-venue {
                font-weight: 600;
                font-size: 1.1rem;
            }

            .event-date {
                font-weight: 500;
                font-size: 0.9rem;
                color: #7a7a7a;
            }
        }

        .event-footer {
            display: flex;
            justify-content:end;
            padding: 0.7rem 1rem;
            background-color: #f9f9f9;
            border-top: 1px solid #e0e0e0;

            .delete-favorite {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: none;
                font-size: 1.2rem;
                color: black;
                cursor: pointer;
                transition: 0.2s ease-in-out;

                &:hover {
                    color: red;
                }
            }
        }
    }
}