header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    margin-top: 13px;
    .logo {
        width: 12%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    ul {
        display: flex;
        gap: 40px;
        li {
a {
    color: black;
    font-size: 20px;
    font-family: "Poppins";

}
        }
    }
    .register {
        display: flex;
        gap: 20px;
        a {
            font-size: 20px;
            color: white;
            padding: 12px 15px;
            border-radius: 60px;
            background-color: #FFF72D;
        }
    }
}